
.cc p {
    font-size: 16px;
}

#about-section {
    padding-top: 85px;
    padding-bottom: 110px;
}

.about-text h1 {
    font-size: 25px;
    font-weight: 300;
}

.about-text p {
    font-size: 16px;
}

#team-section {
    padding: 50px 0;
    background: #5385c1;
    color: #fff;
}

.team-top-header h1 {

}

.recent-text h1 {
    font-weight:300;
    font-size: 25px;;
}

.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.need-help {
    margin-top: 10px;
}

.new-account {
    display: block;
    margin-top: 10px;
}